form{
    border: 1px solid #ccc;
}

#search{
    height: 47px;
    width: 350px;
    border-radius: 0px;
    border: 2px solid #ccc;
    font-size: 20px;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: grey;
    opacity: 0.8; 
    font-size: 20px;
    font-style: italic;
}

#size{
    height: 52px;
    width: 45px;
    padding-left: 0px;
    padding-bottom: 1px;
    border-radius: 0px;
    border: 0px solid #ccc;
    font-size: 20px;
}

#search-button{
    height: 52px;
    width: 80px;
    border-radius: 0px;
    border: 2px solid black;
    font-weight: bolder;
    font-size: 16px;
    color: aliceblue;
    background: black;
    transition: 0.2s;
}

#search-button:hover{
    background: #1D6337;
    color: aliceblue;
    border-color: #1D6337;
}

